.main-title {
    text-align: center;
}

.resultContainer {
    width: 75%;
    margin: 0 auto;
    white-space: pre-wrap;
    height: 250px;
    overflow: scroll;
    display: block;
    border: 5px solid darkgoldenrod;
    border-radius: 15px;
    padding: 1em 2em;
}

.resultContainer::-webkit-scrollbar {
    background-color: rgb(255, 255, 187);
}

.resultContainer::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 0);
}

#elementManipulation {
    display: flex;
    flex-wrap: wrap;
}

.newElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.evtButton {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}